*{
    margin: 0;
    padding: 0;
    font-family: "popppins", sans-serif;
    box-sizing: border-box;
}
h1{
    margin-left: 350px;
    margin-top: 200px;
}


/* .time-box{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.countdown{
    display: flex;
    gap: 90px;
}
.time h2{
    font-size: 5rem;
    font-weight: 100;
} */